#root {
  font-size: 2vw;
  font-family: "Josefin Sans Thin", serif;
  --nncblack: #04080f;
  --nncgray: #727575;
  --nncwhite: #e0e2db;
  --nncblue: #587792;
}

body {
  background-color: var(--nncblack);
  margin: 0 auto;
}

h1 {
  font-family: "Josefin Sans Light", serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "Josefin Sans Thin", serif;
  font-size: 1.25rem;
}
h3 {
  font-family: "Josefin Sans Thin", serif;
  font-size: 1rem;
}

p {
  font-family: "Josefin Sans Thin", serif;
  font-size: 1rem;
}

.Header {
  position: fixed;
  width: 100%;
  height: 10.66%;
  border: 0;
  top: 0;
  left: 0;
  background-color: var(--nncblue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.Header h1 {
  text-align: center;
  border: 0;
  margin: 0;
  color: var(--nncwhite);
}

.Filter {
  width: 7.2%;
  height: 100%;
  position: fixed;
  top: 11%;
  left: 0;
  background-color: blue;
  text-align: center;
  color: white;
  z-index: 3;
}

.DisplayPane {
  display: flex;
  position: absolute;
  background-color: var(--nncwhite);
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  height: 89.33%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 1.12%; */
}

.LoadingScreen {
  position: relative;
  margin-top: 13.2%;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.LoadingScreen h2 {
  display: flex;
  margin-top: 11%;
  margin-bottom: 3.6%;
  height: 100%;
  color: white;
}

.ArticleList {
  width: 100%;
  height: 100%;
  margin-bottom: 1.12%;
}

* {
  box-sizing: border-box;
}

.row {
  height: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three equal columns that floats next to each other */
.ArticleCard {
  display: flex;
  float: left;
  width: 25%;
  padding: 1.25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.CardBanner {
  display: flex;
  position: absolute;
  width: 22.5%;
  height: 14.43%;
  background-color: rgb(4 8 15 / 30%);
  backdrop-filter: blur(20px);
  color: white;
}

.ArticleCard img {
  /* min-width: 100%; */
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  /* height: auto; */
  z-index: 0;
  justify-content: center;
  object-fit: cover;
}

.CardBanner h2 {
  display: flex;
  position: absolute;
  left: 0%;
  padding-left: 3.34%;
  padding-right: 3.34%;
  color: white;
  z-index: 2;
}

.ArticleCardMeta {
  display: flex;
  padding-left: 3.34%;
  padding-right: 3.34%;
  left: 0%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

.ArticleCardMeta h3 {
  display: flex;
  color: var(--nncwhite);
}

.ArtLink {
  display: contents;
  width: 100%;
  height: 100%;
}

.ArticleDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  /* margin-top: 11%; */
  margin-bottom: 3.6%;
  padding: 0;
  height: 100%;
  color: white;
  flex-direction: row;
  justify-content: space-between;
}

.ArticleTitle_ImageBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  background-color: var(--nncgray);
  align-items: center;
  overflow: hidden;
}

.ArticleTitle_ImageBlock img {
  flex: 2;
  justify-content: center;
  object-fit: cover;
  min-height: 100%;
  overflow-x: hidden;
}

.ArticleTitle_ImageBlock h1 {
  flex: 1;
  align-self: center;
}

.ArtBody {
  display: flex;
  padding-top: 3.33%;
  padding-bottom: 3.33%;
  padding-right: 22%;
  padding-left: 22%;
  color: var(--nncgray);
}

.ArticleMeta {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  /* width: 100vw; */
  justify-content: space-between;
}

.ArticleMeta h2 {
  padding-bottom: 3.6%;
  padding-top: 0%;
  color: var(--nncwhite);
}

.ArticleDisplayImage {
  width: 100%;
}

.VoteBlock {
  display: flex;
  padding-right: 1.2%;
  max-width: 100%;
  width: 100%;
  color: grey;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.VoteBlock h2 {
  margin-left: 1.2%;
  /* margin-right: 2.4%; */
  margin-bottom: 0%;
}

.VoteBlock h3 {
  margin: 0;
  margin-top: 3.6%;
  margin-bottom: 1.2%;
}

.VoteButton {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  border: transparent;
  background-color: transparent;
  align-items: center;
  padding: 0;
}

.VoteIcon {
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 2;
}

.CommentSection {
  display: flex;
  padding-top: 11%;
  padding-left: 22%;
  padding-right: 22%;
  padding-bottom: 22%;
  flex-direction: column;
  background-color: var(--nncgray);
  color: var(--nncwhite);
  width: 100%;
}

.CommentList {
  padding-left: 0%;
}

.CommentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.CommentCardMeta {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

hr {
  display: block;
  height: 1px;
  background-color: grey;
  border-radius: 0.5px;
  border: 1.5px solid grey;
  margin: 1em 0;
  padding: 0;
  opacity: 25%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1366px) {
  .ArticleCard {
    width: 33.33%;
  }
  .CardBanner {
    width: 30.83%;
  }
  .ArticleCardMeta h1 {
    font-family: "Josefin Sans Light", serif;
    font-size: 1.25rem;
  }

  .ArticleCardMeta h2 {
    font-family: "Josefin Sans Thin", serif;
    font-size: 1.125rem;
  }
  .ArticleCardMeta h3 {
    font-family: "Josefin Sans Thin", serif;
    font-size: 0.875rem;
  }

  .ArticleCardMeta p {
    font-family: "Josefin Sans Thin", serif;
    font-size: 0.75rem;
  }
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .ArticleCard {
    width: 100%;
  }
  .CardBanner {
    width: 97.5%;
  }

  .ArticleCardMeta h1 {
    font-family: "Josefin Sans Light", serif;
    font-size: 1.5rem;
  }

  .ArticleCardMeta h2 {
    font-family: "Josefin Sans Thin", serif;
    font-size: 1.25rem;
  }
  .ArticleCardMeta h3 {
    font-family: "Josefin Sans Thin", serif;
    font-size: 1rem;
  }

  .ArticleCardMeta p {
    font-family: "Josefin Sans Thin", serif;
    font-size: 1rem;
  }
}
